.folderList{
    width:20%;
    padding: 8px;
    background-image: url('/src/assets/napkin.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    border:black 2px solid;
    border-radius: 10px;
    margin:10px;
    margin-bottom: 0px;
    text-align: center;
    height: min-content;
}

.accordion-container{
    height: 340px;
    overflow-y: scroll;
}

.block{
    margin-top:10px;
    margin-right: 10px;
    width: 95%;
    min-width: 45%;
    min-height: 480px;
    border: 2px solid black;
    padding:10px;
    border-radius: 10px;
    background-image: url('/src/assets/napkin.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.block-list{
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

.block-snippets{
    list-style: none;
    padding-left: 0px;
    text-align: left;
}

.block-snippets li{
    margin-bottom:-15px;
    margin-top:-20px;
    cursor: pointer;
}

.block-snippets li:hover{
    text-decoration: underline;
}

.search-bar{
    width:100%;
    margin-bottom:10px;
    border-radius: 15px;
    padding-left: 10px;
}

.search-results{
    position: absolute;
    z-index:1;
    list-style: none;
    background-color: white;
    width: 225px;
    overflow-y: scroll;
    max-height: 180px;
    text-align: left;
    border: 1px solid grey;
    padding-left: 10px;
}

.search-results li{
    cursor: pointer;
}

.search-results li:hover{
    text-decoration: underline;
}


.x-btn{
    float:right;
    width:25px;
    height: 25px;
    background-color: white;
    border-width: 1px;
    padding-top: 0px;
}

.block-title{
    font-size: 1.5em;
    border: none;
    background: none;
}

.block-content{
    width:100%;
    padding: 5px;
    border: none;
    margin-top: 10px;
    height: 360px;
    resize: none;
    overflow-y: scroll;
}

.folder-btn{
    font-size: 0.9em;
}

.folder-btn button{
    border:none;
    background-color: lightgray;
    padding:2px;
    margin-top: 2px;
    width:100%
}

.folder-btn button:hover{
    font-weight: bolder;
}

.options-btn{
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
}

.options-collapse{
    position: absolute;
    z-index:1;
    list-style: none;
    background-color: rgb(13, 13, 41);
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.options-collapse li{
    cursor: pointer;
}

.options-collapse li:hover{
    text-decoration: underline;
}

.option-select{
    display: inline;
    margin-left: 5px;
    color: white;
    background-color: rgb(13, 13, 41);
}

.related-blocks{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.related-blocks span{
    width: fit-content;
}

.related-blocks span{
    cursor: pointer;
}
.related-blocks span:hover{
    text-decoration: underline;
}

.related-blocks span label{
    margin-left:5px;
    cursor: pointer;
    margin-right: 10px;
}
.related-blocks span label:hover{
    font-weight: bold;
}