.boards-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    padding: 10px;
}

.board-control{
    width: 100%;
    background-image: url('/src/assets/napkin.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    padding:10px;
    border-radius: 10px;
    border:solid 2px;
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    flex-wrap: wrap;
}

.board-control div{
    text-align: center;
}

.board-blocks{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap:5px;
}

.board-blocks div{
    width:49.5%;
    flex-grow: 1;
    background-image: url('/src/assets/napkin.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid;  
    border-radius: 5px;
}

.board-blocks div h2{
    margin-top: 5px;
    margin-left: 5px;
}


.board-blocks div div{
    width: 100%;
    min-height: 180px;
    max-height: 350px;
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
    border-radius: 0px;
    overflow-y: scroll;
    background: white;
    transition-duration: 0.3s;
}

.board-blocks div textarea{
    width: 100%;
    min-height: 180px;
    max-height: 350px;
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
    border-radius: 0px;
    overflow-y: scroll;
    background: white;
    transition-duration: 0.3s;
}

@media (max-width: 550px) {
    .board-blocks div{
        min-width: 100%;
    }
    .board-blocks div div{
        max-height: 450px;
    }
}