.game-snippet{
    padding:10px;
    width: 100%;
    border: 1.5px solid;
    border-radius: 8px;
}

.game-snippet h3{
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 1.7em;
}
.game-snippet h3:hover{
    text-decoration: underline;
}

.snippet-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.menu{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border: 1.5px solid black;
    background-image: url('/src/assets/napkin.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.title{
    text-align: center;
    margin-top: 5vh;
    font-size: 3em;
    font-weight: bold;
    background: red;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px black;
}

.tab{
    width:25%;
    height: 50px;
    background-color: red;
    border: none;
    border-bottom: 1.5px solid;
    cursor: pointer;
    font-size: 1.1em;
}
.tab:hover{
    text-decoration: underline;
}

.wide{width:50%}

.selected{
    background-color: black;
    color:white;    
    border-bottom: 1.5px solid black;
}

.container{
    margin:10px;
    margin-top: 10px;
    text-align: center;
}

.form-input{
    margin:5px;
    padding:4px;
    font-size: 1em;
    border-radius: 5px;
    width: 250px;
}

.form-btn{
    margin-top:8px;
    background-color: white;
    border:1.5px solid;
    padding:8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    width: 250px;
}

.red{background-color: red;}

.tab-content{
    padding:20px
}

.user-img{
    width:60px;
    height: 60px;
    border-radius: 50px;
}

.icon{
    width:20px;
    height:20px;
    margin-right: 10px;
}

.google-login{
    background-color: white;
    width: 250px;
    padding:10px 30px 10px 30px;
    border:1.5px solid;
    margin-top: 12px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 650px) {
    .menu{width:100%}
    .tab{font-size: 0.7em;padding: 0px;}
}