#root{
    width:100%;
    margin:0px;
    padding:0px;
}

body{
    background-image: url('/src/assets/background-light.avif');
    background-image: radial-gradient(circle,rgb(0,0,0,0),rgb(0,0,0,.05),rgb(0,0,0,.1)), 
        url('/src/assets/background-light.avif');
    background-attachment: fixed;
}

@font-face{
    font-family: "raleway";
    src: local("title"), url("../assets/Fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "raleway";
    src: local("title"), url("../assets/Fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: bold;
}

h1{letter-spacing: -1.2px;font-family:'raleway';}

.hint-container{
    width: fit-content;
    display: inline;
}

.hint-btn{
    border: 1.5px solid;
    border-radius: 30px;
    background: none;
    font-weight: bold;
    padding-bottom: 0px;
    width: 28px;
    margin-left: 5px;
    background: white;
}

.hint-msg{
    position: absolute;
    z-index: 10;
    margin-left: 5px;
    display: inline;
    width: fit-content;
    max-width: 200px;
    text-align: left;
    background: white;
    border: 1px solid;
    padding: 3px;
    transform: translate(0%, 5px);
}

.block-share{
    width:100%;
    margin-top:50px;
    padding:5px;
    background-image: url('/src/assets/napkin.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid;  
    border-radius: 5px;
}

.block-share div{
    background: white;
    border: 1px solid;
    padding: 5px;
    border-radius: 0px;
    height: fit-content;
}

.block-share textarea{
    background: white;
    border: 1px solid;
    padding: 5px;
    border-radius: 0px;
    height: fit-content;
}

#alert{
    position:absolute;
    top:10%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%);
    padding: 10px;
    border:black 1.5px solid;
    border-radius: 5px;
    max-width: 90vw;
    text-align: left;
}
#alert button{
    border: none;
    background: none;
    padding: 0px;
    font-weight: bold;
    margin-left: 10px;

}
.failure{
    background-color: red;
}
.success{
    background-color: rgb(17, 255, 0);
    color: white;
}
.warning{
    background-color: rgb(255, 208, 0);
}